<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="add_acc_body">
    <ul>
        <li><a href="#"class="hov" id="icon"><img src="mayank.png" alt="upi"> paise de</a></li>
        <li><a href="index1.html" class="hov">Home</a></li>
        <li><a href="#"class="hov">About</a></li>
        <li><a href="#"class="hov">Contact-us</a></li>
        <li><a href="add_account.html"class="hov">Bank</a></li>
      </ul>
    <div class="container">

        <h1>Add-Account</h1> 
        <form method="POST" action="/add_account.html/user_page">
            <div class="box">
                <select name="Bank" id="bank">
                    <option value="banka">Bank-A</option>
                    <option value="bankb">Bank-B</option>
                </select>
            </div>
            <div class="box">
                <input type="number" name="Account_no" id="" required>
                <label for="">Account-No</label>
            </div>    
            <div class="box">
                <input type="text" name="password" id="" required>
                <label for="">Password</label>
            </div>    
            <input type="submit" value="Add" id="add">
        </form>
        <a href="index1.html"> <input type="submit" value="Previous" id="prev"></a>
    </div>
    
</body>
</html>