<!-- 21-10 mihir -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body id="Bank_body">
    <div class="container4">
        <img src="secure.png" height="100px" width="100px" style="margin-left:200px; margin-top: 30px;" alt="">
      <a href="Create_account.html"><input type="submit" value="Create_account" class="Bank"></a>
      <a href="add_balance.html"><input type="submit" value="Add-Balance" class="Bank"></a>
      <a href="admin.html"><input type="submit" value="Admin" class="Bank"></a>
      <a href="index.html"><input type="submit" value="Previous" id="prev1"></a>
    </div>
</body>
</html>