<!-- 
//21-10-2021 mihir -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body id="index_body">
<div class="container3">
  <a href="index1.html"><input type="submit" value="Paise-de" class="index"></a>
  <a href="Bank.html"><input type="submit" value="Bank" class="index"></a>
</div>
</body>
</html>